<footer class="container bd-t">
  <nav>
    <div class="row p-v-30">
      <div class="col-md">
      </div>
      <div class="col-md">
        <h2 class="h2 footer_header">PhraseApp</h2>
        <ul>
          <li><a class="footer__link" href="">Home</a></li>
          <li><a class="footer__link" href="">Features</a></li>
          <li><a class="footer__link" href="">Pricing</a></li>
          <li><a class="footer__link" href="">Demo</a></li>
          <li><a class="footer__link" href="">API</a></li>
          <li><a class="footer__link" href="">iOS App Localization</a></li>
          <li><a class="footer__link" href="">Enterprise</a></li>
        </ul>
      </div>
      <div class="col-md">
        <h2 class="h2 footer_header">Company</h2>
        <ul>
          <li><a class="footer__link" href="">About us</a></li>
          <li><a class="footer__link" href="">Blog</a></li>
          <li><a class="footer__link" href="">Jobs</a></li>
          <li><a class="footer__link" href="">Press</a></li>
        </ul>
      </div>
      <div class="col-md">
        <h2 class="h2 footer_header">Support</h2>
        <ul>
          <li><a class="footer__link" href="">Contact</a></li>
          <li><a class="footer__link" href="">Documentation</a></li>
          <li><a class="footer__link" href="">Service Status</a></li>
        </ul>
      </div>
    </div>
    <div class="row bd-t p-v-10">
      <div class="col">
        <img alt="" src="../assets/footer_parrot.png">
      </div>
      <div class="col">
        <ul>
          <li><a href="">Terms</a></li>
          <li><a href="">Privacy</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>