<footer class="footer bd-t">
  <nav class="bd-t">
    <div class="container">
      <div class="row p-t-30">
        <div class="col-md">
          <div class="footer__language">
            <i class="footer__language-globe material-icons">
              language
            </i>
            <select class="footer__language-select">
              <option>English</option>
              <option>Deutsch</option>
            </select>
            <div class="footer__language-arrow">
              <i class="material-icons">
                keyboard_arrow_down
              </i>
            </div>
          </div>
        </div>
        <div class="col-md p-b-30">
          <h2 class="h2 footer__header">PhraseApp</h2>
          <ul>
            <li><a class="footer__link" href="">Home</a></li>
            <li><a class="footer__link" href="">Features</a></li>
            <li><a class="footer__link" href="">Pricing</a></li>
            <li><a class="footer__link" href="">Demo</a></li>
            <li><a class="footer__link" href="">API</a></li>
            <li><a class="footer__link" href="">iOS App Localization</a></li>
            <li><a class="footer__link" href="">Enterprise</a></li>
          </ul>
        </div>
        <div class="col-md p-b-30">
          <h2 class="h2 footer__header">Company</h2>
          <ul>
            <li><a class="footer__link" href="">About us</a></li>
            <li><a class="footer__link" href="">Blog</a></li>
            <li><a class="footer__link" href="">Jobs</a></li>
            <li><a class="footer__link" href="">Press</a></li>
          </ul>
        </div>
        <div class="col-md p-b-30">
          <h2 class="h2 footer__header">Support</h2>
          <ul>
            <li><a class="footer__link" href="">Contact</a></li>
            <li><a class="footer__link" href="">Documentation</a></li>
            <li><a class="footer__link" href="">Service Status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="bd-t">
    <div class="container">
      <div class="row p-v-10">
        <div class="col-md d-flex justify-content-center justify-content-md-start">
          <img alt="parrot" class="footer__parrot" src="../assets/footer_parrot.png">
        </div>
        <div class="col-md d-flex justify-content-center justify-content-md-end align-items-center">
          <ul class="d-flex">
            <li class="p-h-8px"><a class="footer__link" href="">Terms</a></li>
            <li class="p-h-8px"><a class="footer__link" href="">Privacy</a></li>
            <li class="p-h-8px"><a class="footer__link" href="">Imprint</a></li>
          </ul>
          <ul class="d-flex">
            <li class="footer__link-social">
              <a href="">
                <img alt="facebook" class="footer__social" src="../assets/footer_facebook.png">
              </a>
            </li>
            <li class="footer__link-social">
              <a href="">
                <img alt="twitter" class="footer__social" src="../assets/footer_twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</footer>