<footer class="footer bd-t">
  <nav>
    <div class="container">
      <div class="row p-t-30">
        <div class="col-sm-6 col-lg">
          <div class="footer__language">
            <i class="footer__language-globe material-icons">
              language
            </i>
            <select class="footer__language-select">
              <option>English</option>
              <option>Deutsch</option>
            </select>
            <div class="footer__language-arrow">
              <i class="material-icons">
                keyboard_arrow_down
              </i>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg p-b-30">
          <h2 class="h2 footer__header">PhraseApp</h2>
          <ul>
            <li><a class="footer__link" href="" title="Home">Home</a></li>
            <li><a class="footer__link" href="" title="Features">Features</a></li>
            <li><a class="footer__link" href="" title="Pricing">Pricing</a></li>
            <li><a class="footer__link" href="" title="Demo">Demo</a></li>
            <li><a class="footer__link" href="" title="API">API</a></li>
            <li><a class="footer__link" href="" title="iOS App Localization">iOS App Localization</a></li>
            <li><a class="footer__link" href="" title="Enterprise">Enterprise</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg p-b-30">
          <h2 class="h2 footer__header">Company</h2>
          <ul>
            <li><a class="footer__link" href="" title="About us">About us</a></li>
            <li><a class="footer__link" href="" title="Blog">Blog</a></li>
            <li><a class="footer__link" href="" title="Jobs">Jobs</a></li>
            <li><a class="footer__link" href="" title="Press">Press</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg p-b-30">
          <h2 class="h2 footer__header">Support</h2>
          <ul>
            <li><a class="footer__link" href="" title="Contact">Contact</a></li>
            <li><a class="footer__link" href="" title="Documentation">Documentation</a></li>
            <li><a class="footer__link" href="" title="Service Status">Service Status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="bd-t">
    <div class="container">
      <div class="row p-v-10">
        <div class="col-sm d-flex justify-content-center justify-content-sm-start">
          <img alt="parrot" class="footer__parrot" src="../assets/footer_parrot.png">
        </div>
        <div class="col-sm d-flex justify-content-center justify-content-sm-end align-items-center">
          <ul class="d-flex">
            <li class="p-h-8px"><a class="footer__link" href="" title="Terms">Terms</a></li>
            <li class="p-h-8px"><a class="footer__link" href="" title="Privacy">Privacy</a></li>
            <li class="p-h-8px"><a class="footer__link" href="" title="Imprint">Imprint</a></li>
          </ul>
          <ul class="d-flex">
            <li class="footer__link-social">
              <a href="" title="Facebook">
                <img alt="facebook" class="footer__social" src="../assets/footer_facebook.png">
              </a>
            </li>
            <li class="footer__link-social">
              <a href="" title="Twitter">
                <img alt="twitter" class="footer__social" src="../assets/footer_twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</footer>