<section class="getting container">
  <div class="row">
    <div class="col-md">
      <h2 class="h2">
        <i class="material-icons">
          settings
        </i>
        Download and Install
      </h2>
      <div class="getting__container">
        <p class="getting__text">
          Download an d install the client from
          <a class="btn-link" href="" title="Github">
            Github<i class="material-icons">
              arrow_forward
            </i>
          </a>.
        </p>
        <p class="getting__text">
          On MacOS you can also install via homebrew:
        </p>
        <p class="getting__text-code">
          <code class="getting__code">
            brew tap phrase/brewed
          </code>
        </p>
        <p class="getting__text-code">
          <code class="getting__code">
            brew install phraseapp
          </code>
        </p>
        <a class="btn-link" href="" title="Learn more">
          Learn more<i class="material-icons">
            arrow_forward
        </i>
        </a>
      </div>
    </div>
    <div class="col-md">
      <h2 class="h2">
        <i class="material-icons">
          settings
        </i>
        Initialize
      </h2>
      <div class="getting__container">
        <p class="getting__text">
          Use the <code class="getting__code">phraseapp ini</code> command to initialize and configure your project.
        </p>
        <a class="btn-link" href="" title="Learn more">
          Learn more<i class="material-icons">
            arrow_forward
        </i>
        </a>
      </div>
    </div>
    <div class="col-md">
      <h2 class="h2">
        <i class="material-icons">
          settings
        </i>
        Initialize
      </h2>
      <div class="getting__container">
        <p class="getting__text">
          Use the <code class="getting__code">phraseapp ini</code>.
          command to upload your existing locale files to PhraseApp.
        </p>
        <a class="btn-link" href="" title="Learn more">
          Learn more<i class="material-icons">
            arrow_forward
        </i>
        </a>
      </div>
    </div>
  </div>
</section>