<header class="header">
  <div class="container">
    <div class="header-nav p-v-30 row flex-column flex-lg-row justify-content-lg-between align-items-center">
      <div class="col">
        <div class="row align-items-start align-items-lg-center justify-content-between justify-content-lg-start">
          <img alt="PhraseApp white logo" class="header-nav__logo col-auto" src="../assets/phraseapp_logo_rgb-c.png">
          <nav class="col-12 col-sm">
            <ul class="row justify-content-end justify-content-lg-start no-gutters">
              <li class="col-auto"><a class="header-nav__link" href="" title="Features">Features</a></li>
              <li class="col-auto"><a class="header-nav__link" href="" title="Customers">Customers</a></li>
              <li class="col-auto"><a class="header-nav__link" href="" title="Pricing">Pricing</a></li>
              <li class="col-auto"><a class="header-nav__link" href="" title="Resource">Resource</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-auto align-self-end align-self-lg-center">
        <ul class="row align-items-center no-gutters">
          <li class="col-auto"><a class="header-nav__link" href=""><i class="header-nav__link-icon material-icons">language</i>&nbsp;<span
            class="v-a-middle">English</span></a>
          </li>
          <li class="col-auto"><a class="header-nav__link" href="" title="Login">Login</a></li>
          <li class="col-auto"><a class="btn" href="" title="Sign Up">Sign Up</a></li>
        </ul>
      </div>
    </div>

    <article class="row flex-column align-items-center">
      <section class="col">
        <div id="code-example-tabs" class="code-example tab-container">
          <header class="code-example__header row no-gutters">
            <div class="col-auto code-example__top-btn code-example__top-btn--red"></div>
            <div class="col-auto code-example__top-btn code-example__top-btn--yellow"></div>
            <div class="col-auto code-example__top-btn code-example__top-btn--green"></div>
          </header>
          <div class="tab-container__content">
            <div aria-expanded="true" class="tab-container__tabpanel" id="code-example-tab-download" role="tabpanel">
            <pre class="code-example__text"><code>phraseapp locale download &lt;project_id&gt; &lt;id&gt; \
--branch my-feature-branch \
--file-format yml \
--tags feature1,feature2 \
--tag feature</code></pre>
            </div>
            <div aria-expanded="false" class="tab-container__tabpanel" id="code-example-tab-update" role="tabpanel">
            <pre class="code-example__text"><code>phraseapp locale update &lt;project_id&gt; &lt;id&gt; \
--branch my-feature-branch \
--file-format yml \
--tags feature1,feature2 \
--tag feature</code></pre>
            </div>
            <div aria-expanded="false" class="tab-container__tabpanel" id="code-example-tab-delete" role="tabpanel">
            <pre class="code-example__text"><code>phraseapp locale delete &lt;project_id&gt; &lt;id&gt; \
--branch my-feature-branch \
--file-format yml \
--tags feature1,feature2 \
--tag feature</code></pre>
            </div>
          </div>

          <footer>
            <ul class="tab-container__tablist" role="tablist">
              <li aria-controls="code-example-tab-download" aria-selected="true" class="tab-container__tab" role="tab" tabindex="0">Download a
                locale
              </li>
              <li aria-controls="code-example-tab-update" aria-selected="false" class="tab-container__tab" role="tab" tabindex="0">Update a project
              </li>
              <li aria-controls="code-example-tab-delete" aria-selected="false" class="tab-container__tab" role="tab" tabindex="0">Delete a key</li>
              <li class="tab-container__tab-placeholder"><a class="tab-container__tab-link no-animation" href="" tabindex="0">More</a></li>
            </ul>
          </footer>
        </div>
      </section>

      <h1 class="col-auto h1">The whole PhraseApp API in your terminal.</h1>
      <p class="col-auto header__description">The PhraseApp CLI tool lets you navigate your projects and translations quickly from the command line
        instead of fiddling around
        with long curl requests. Available for Linux, Mac OS X and Windows.</p>
      <div class="col-auto t-center">
        <a class="btn btn-big header__btn-download" href="">Free Download (MacOS&nbsp;X)</a>
        <a class="header__download-other-btn" href="">Linux, Win download from GitHub</a>
      </div>
    </article>
  </div>
</header>