.footer__header {
  padding-bottom: 10px;
}

.footer__language {
  position: relative;
  max-width: 160px;
  height: 40px;
  border: 1px solid $colorBorder;
  -webkit-border-radius: $borderRadiusMedium;
  -moz-border-radius: $borderRadiusMedium;
  border-radius: $borderRadiusMedium;
  margin-bottom: 30px;

  @media all and (max-width: $breakpointSm) {
    max-width: none;
  }

  &-select {
    font-family: inherit;
    height: 38px;
    width: 100%;
    border: 0;
    border-radius: 0;
    padding-left: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &-globe,
  &-arrow {
    font-size: $fontMedium;
    pointer-events: none;
    position: absolute;
  }

  &-globe {
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $colorBorder;
  }

  &-arrow {
    display: flex;
    align-items: center;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding-right: 10px;
    background-color: $colorLight;
    color: $colorDark;
    -webkit-border-radius: $borderRadiusMedium;
    -moz-border-radius: $borderRadiusMedium;
    border-radius: $borderRadiusMedium;
  }
}

.footer__link {
  color: $colorDark;
  line-height: 1.5em;
  margin: 3px 0;
}

.footer__parrot {
  max-width: 30px;

  @media all and (max-width: $breakpointSm) {
    margin-bottom: 20px;
  }
}

.footer__termslist {
  display: inline-block;
}

.footer__link-social {
  margin-left: 30px;
}

.footer__social {
  display: inline-block;
  max-height: 12px;
}