<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PhraseApp - Landing page</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<%= require('./templates/header.tpl.html') %>
<%= require('./templates/getting-started.tpl.html') %>
<%= require('./templates/footer.tpl.html') %>

</body>
</html>