/* VARIABLES */
$breakpointSm: 576px;
$breakpointMd: 767px;
$breakpointLg: 1024px;
$breakpointXl: 1441px;

$colorLight: #fff;
$colorDarker: #242424;
$colorDark: #565656;
$colorPrimary: #0091eb;
$colorSecondary: #51e05d;

$colorBorder: #d8d8d8;

$fontSmaller: 1.4rem;
$fontSmall: 1.5rem;
$fontMedium: 1.6rem;
$fontBig: 1.8rem;
$fontBigger: 2rem;
$fontLarge: 2.4rem;
$fontHuge: 4rem;

$font1: 'Source Sans Pro', sans-serif;
$font2: 'Roboto Mono', monospace;

$borderRadiusMedium: 4px;
$borderRadiusBig: 8px;

$boxShadowMedium: 0 2px 7px rgba(0,0,0,.13);
$boxShadowBig: 0 4px 10px rgba(0,0,0,.16);

