/* VARIABLES */
$breakpointSm: 576px;
$breakpointMd: 767px;
$breakpointLg: 1280px;
$breakpointXl: 1441px;

$colorLight: #fff;
$colorDarker: #242424;
$colorDark: #565656;
$colorPrimary: #0091eb;
$colorSecondary: #51e05d;

$colorBorder: #efefef;

$fontSmaller: 1.4rem;
$fontSmall: 1.5em;
$fontMedium: 1.6rem;
$fontBig: 2rem;
$fontLarge: 2.4rem;
$fontHuge: 4rem;

$font1: 'Source Sans Pro', sans-serif;
$font2: 'Roboto Mono', monospace;
